.list-content{
    font-size: 14px;
    line-height: 24px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    color: #4F5665;
}

.list-container{
    display: flex;
   
} 

.list-img{
    width: 15px;
    height: 15px;
}

.content-container{
    margin-left: 20px;
}


@media screen and (max-width: 960px) {
    .list-container{
        margin-top: 10px;
        justify-content: center;
    
    }
}
